*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__

# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-08-22-first-notebook.md
_posts/2022-08-26-Python-Quiz.md
_posts/2022-08-28bashnotebook.md
_posts/2022-08-29-python_lists.md
_posts/2022-09-08-Quiz-Plan.md
_posts/2022-09-11-create-performannce-task.md
_posts/2022-10-09-1.4.md
_posts/2022-10-09-ApI-Test.md
_posts/2022-10-09-Final-project.md
_posts/2022-10-23-Javascript-API-Hacks.md
_posts/2022-11-26-listanditerationhomework.md
_posts/2022-11-28-HW1.md
_posts/2022-11-29-Developing-Algorithms.md
_posts/2022-11-29-developing-algorithms-js.md
_posts/2022-11-29-expressions-and-strings.md
_posts/2022-11-29-searching-introduction.md
_posts/2022-12-01-StudentCopyRandomValues.md
_posts/2022-12-02-gradesforhw.md
_posts/2022-12-08-vocab.md
_posts/2022-12-1-notetemplate.md
_posts/2022-12-12-hw.md
_posts/2022-12-14-117-118-homework.md
_posts/2023-01-04-createpeformancetask.md
_posts/2023-01-10-PBL-model.md
_posts/2023-01-11-createpeformancetask.md
_posts/2023-01-21-cpt3.md
_post/2022-12-14-notetemplate.md