*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__

# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-08-22-first-notebook.md
_posts/2022-08-26-Python-Quiz.md
_posts/2022-08-28bashnotebook.md
_posts/2022-08-29-python_lists.md
_posts/2022-09-08-Quiz-Plan.ipynb
_posts/2022-09-11-create-performannce-task.ipynb
_posts/2022-10-09-1.4.ipynb
_posts/2022-10-09-ApI-Test.ipynb
_posts/2022-10-09-Final-project.ipynb
_posts/2022-10-23-Javascript-API-Hacks.ipynb
_posts/2022-11-26-listanditerationhomework.ipynb
_posts/2022-11-28-HW1.ipynb
_posts/2022-11-29-Developing-Algorithms.ipynb
_posts/2022-11-29-developing-algorithms-js.ipynb
_posts/2022-11-29-expressions-and-strings.ipynb
_posts/2022-11-29-searching-introduction.ipynb
_posts/2022-12-01-StudentCopyRandomValues.ipynb
_posts/2022-12-02-gradesforhw.ipynb
_posts/2022-12-08-vocab.ipynb
_posts/2022-12-1-notetemplate.ipynb
_posts/2022-12-12-hw.ipynb
_posts/2022-12-14-117-118-homework.ipynb
_posts/2023-01-04-createpeformancetask.ipynb
_posts/2023-01-10-PBL-model.ipynb
_posts/2023-01-11-createpeformancetask.ipynb
_posts/2023-01-21-cpt3.ipynb